.click-link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

#circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.red {
  background: darkred;
}

.green {
  background: darkgreen;
}

::ng-deep md2-accordion-tab.md2-accordion-tab-active > .md2-accordion-header {
  border-bottom: solid 1px #ccc !important;
  box-shadow: none !important;
}

md2-accordion-tab {
  color: #000;
}

.permission {
  color: darkgreen;
  font-weight: 600;
}

th {
  font-weight: 600;
  background: #6aa3ca;
  color: #fff;
  border-color: #6aa3ca;
}

td:nth-child(odd) {
  text-align: left;
  padding-left: 10px;
}

td {
  max-width: 300px;
  border-collapse: collapse;
}

.item-title {
  margin-left: 10px;
  font-weight: 600;
}

::ng-deep .md2-accordion-header {
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}

.accordion-head {
  padding-left: 5px;
  font-weight: 600;
  color: black;
}

.accordion-item-head {
  font-weight: 600;
  color: black;
  margin-right: 5px;
}

::ng-deep .md2-accordion-tab-body {
  overflow: hidden !important;
}

.bl-top-menu {
  margin: 0 auto;
  vertical-align: top;
  overflow: hidden;
  border-bottom: solid 1px #ced9d9;
  border-bottom: none;
}

.bl-top-menu p {
  cursor: pointer;
  padding: 5px 10px;
}

.top-menu {
  float: none;
  text-align: center;
}

.top-menu li {
  display: inline-block;
  float: none;
  text-align: center;
}

.top-menu li p {
  margin-right: 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
}

.top-menu li p:hover {
  color: #508db6;
}

.top-menu li p:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.top-menu li p:hover:after {
  background: #508db6;
}

.active {
  color: #43c992 !important;
}

.active:after {
  background: #43c992 !important;
}

/*----------------------------------tab 1*/

.action-btn {
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
}

.show {
  background-color: darkgreen;
}

.remove {
  background: darkred;
}

.info-table-desktop {
  border-collapse: collapse;
  width: 100%;
}

.info-table-desktop td {
  border-top: solid 1px #000;
}

.info-table-desktop tr:last-child {
  border-bottom: solid 1px #000;
}

.info-table-desktop td.bordered {
  border-right: 1px solid;
}

.info-table-desktop td:nth-child(odd) {
  color: black;
  font-weight: 600;
}

.info-table-desktop td:nth-child(even) {
  text-align: right;
  padding-right: 10px;
}

.remove-msg {
  color: darkred;
  font-weight: 600;
  margin-left: 5px;
}

/*----------------------------------tab 1 end*/
/*----------------------------------tab 2*/

.data-table span {
  font-weight: 600;
}

/*----------------------------------tab 2 end*/

/*----------------------------------tab 3*/
.user-info {
  color: #000;
  text-align: left;
  width: 100%;
}

.user-info th {
  background: #fff;
  color: #000;
}

.user-info th, td {
  padding: 5px;
}

/*------------------------------tab 3 end*/
/*----------------------------------tab 4*/
.map-wrapper img {
  margin: auto;
}

.info-table-mob {
  display: none;
}

.data-table {
  width: 100%;
}

.data-table th {
  color: black;
  font-weight: 600;
  background: #fff;
}

/*------------------------------tab 4 end*/
