<div class="d-table-100">
  <div class="d-table-row">
    <div class="hold-login">
      <div id="restore_password" class="info-log">
        <div class="row-log-input">
          <span>{{'LOGIN.EXPIRED' | translate}}. <br>{{'LOGIN.HINT' | translate}}</span>
          <div class="row-sabmit">
            <div class="hold-btn">
              <input type="submit" class="btn submit-support" value="На страницу логина" (click)="toLoginPage()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
