<div class="wrapper-item">
  <div>
    <span class="bold">country: </span>
    <span>{{device.country}}</span>
  </div>
  <div>
    <span class="bold">data: </span>
    <span>{{device.data}}</span>
  </div>
  <div>
    <span class="bold">devId: </span>
    <span>{{device.devId}}</span>
  </div>
  <div>
    <span class="bold">deviceType: </span>
    <span>{{device.deviceType}}</span>
  </div>
  <div>
    <span class="bold">disabled: </span>
    <span>{{device.disabled}}</span>
  </div>
  <div>
    <span class="bold">firmware: </span>
    <span>{{device.firmware | date: 'dd.MM.yyyy HH:mm'}}</span>
  </div>
  <div>
    <span class="bold">id: </span>
    <span>{{device.id}}</span>
  </div>
  <div>
    <span class="bold">ip: </span>
    <span>{{device.ip}}</span>
  </div>
  <div>
    <span class="bold">latitude: </span>
    <span>{{device.latitude}}</span>
  </div>
  <div>
    <span class="bold">longitude: </span>
    <span>{{device.longitude}}</span>
  </div>
  <div>
    <span class="bold">name: </span>
    <span>{{device.name}}</span>
  </div>
  <div>
    <span class="bold">userId: </span>
    <span>{{device.userId}}</span>
  </div>
</div>
