<div mat-dialog-content *ngIf="language == 'ru'">
  <p><b>Компания Биопром Харьков</b> (далее «Мы») стремится соблюдать конфиденциальность и неприкосновенность
    персональных
    данных и иной информации, которые Мы получаем от пользователей нашего Сервиса. В связи с этим каждый пользователь,
    обязан ознакомиться с данной Политикой конфиденциальности (далее «Политика», «Политика конфиденциальности»).
    Если Вы (далее «Вы», «Пользователь») хотите использовать наш Сервис Вы должны полностью и безоговорочно принять
    все
    условия настоящей Политики конфиденциальности перед использованием.
  </p>
  <br>
  <span class="title-block">1. ОБЩИЕ ПОЛОЖЕНИЯ</span>
  <br>
  <span>1.1. Настоящая Политика конфиденциальности осведомляет Вас о том, как мы получаем, храним, обрабатываем, используем и защищаем персональные данные, и иную информацию, получаемую от пользователей.</span>
  <br>
  <span>1.2. Для получения полноценного доступа к персонализированным функциям Сервиса Вам необходимо зарегистрироваться в Сервисе, предоставив нам полную и достоверную информацию о себе.</span>
  <br>
  <br>
  <span class="title-block">2. ИНФОРМАЦИЯ, КОТОРУЮ МЫ СОБИРАЕМ, ХРАНИМ И ОБРАБАТЫВАЕМ</span>
  <br>
  <span>2.1. Информация, которую Мы собираем, храним и обрабатываем, включает в себя  контактные данные, вводимые при регистрации в Сервисе (имя, фамилия, адрес электронной почты, номер телефона), сообщения, которыми Вы обмениваетесь с нами или направляете Подписчикам с помощью Сервиса, и другую информацию, изложенную в данной Политике.</span>
  <br>
  <span>2.2. Мы получаем Персональные и Информационные данные от Вас с помощью нашего Сервиса и электронной почты, однако, в некоторых случаях, Мы можем получить эту информацию и от других лиц. Мы собираем только ту информацию, которая необходима для выполнения целей наших с Вами взаимоотношений. Мы не собираем информацию, которую применимое законодательство запрещает собирать. Так же Мы не собираем информацию способами, запрещенными таким законодательством.</span>
  <br>
  <br>
  <span class="title-block">3. ПЕРЕДАЧА ДАННЫХ</span>
  <br>
  <span>3.1. Мы не предоставляем Персональные и Информационные данные третьим лицам без  разрешения их владельца, за исключением следующих случаев:
</span>
  <br>
  <div class="wrapper">
    <span>После получения согласия владельца Персональных данных, на соответствующие действия с этими данными, если такие действия и их условия не регулируются данной Политикой;</span>
    <br>
    <span>При необходимости передачи таких данных для выполнения Вашего заказа или запроса;</span>
    <br>
    <span>Если это потребуется для соблюдения действующих законов, выполнения запросов и требований судебных, правоохранительных и других государственных органов.</span>
    <br>
    <br>
  </div>
  <span>3.2. В случае слияний, поглощений, купли-продажи активов,  Персональные и Информационные данные, вероятно, будут находится в числе передаваемых новой компании активов. Если это случится, Мы уведомим Вас об этом по электронной почте или разместим такое уведомление на нашем Сайте за 30 дней до того, как такие изменения произойдут.</span>
  <br>
  <br>
  <span class="title-block">4. ХРАНЕНИЕ И БЕЗОПАСНОСТЬ ДАННЫХ</span>
  <br>
  <span>4.1. Мы будет принимать все разумные меры предосторожности для защиты  Персональных и Информационных данных, хранящихся в Сервисе, от потери, искажения или несанкционированного использования. Это включает в себя физические, технологические и программные меры безопасности.</span>
  <br>
  <span>4.2. Однако, Вы должны понимать, что не существует способа передачи данных через Интернет или их последующего хранения в цифровом виде, который будет на 100% безопасен. Таким образом, несмотря на всё наши усилия, Мы не можем гарантировать абсолютную защиту получаемой от Вас информации. Также, в случае утери или необеспечения Вами сохранности и конфиденциальности Ваших данных авторизации к Сервису (логин и пароль), третьи лица могут получить несанкционированный доступ к Вашему Личному кабинету, а также к Персональным и Информационным данным, хранящимся в Сервисе.</span>
  <br>
  <span>4.3. Мы будем хранить Ваши Персональные и Информационные данные столько, сколько Ваша Учетная запись будет активна, или на время, необходимое для предоставления Вам Сервиса, разрешения споров и исполнения наших взаимных договоренностей.</span>
  <div mat-dialog-close>
    <p class='button' (click)="closeDialogProfile()">{{'OTHER.CLOSE' | translate}}</p>
  </div>
</div>


<div mat-dialog-content *ngIf="language == 'en'">
  <p><b>The company Bioprom Kharkiv</b> (further "We") strives to respect the confidentiality and inviolability of
    personal data and other information that We receive from users of our Service. In this regard, each user is required
    to read this Privacy Policy (the "Policy", "Privacy Policy").
    If you want to use our Service ("You", "User"), you must fully and unconditionally accept all the terms of this
    Privacy Policy before use.
  </p>
  <br>
  <span class="title-block">1. GENERAL PROVISIONS</span>
  <br>
  <span>1.1. This Privacy Policy informs you about how we receive, store, process, use and protect personal data and other information received from the users.</span>
  <br>
  <span>1.2. To get full access to the personalized functions of the Service, you need to register with the Service, providing us with complete and reliable information about yourself.</span>
  <br>
  <br>
  <span class="title-block">2. INFORMATION WE ASSEMBLE, KEEP AND PROCESS</span>
  <br>
  <span>2.1. The information we collect, store and process, includes contact data entered during the registration in the Service (name, surname, email address, phone number) whose messages you exchange with us or sent to subscribers via the Service, and other information contained in this Policy.</span>
  <br>
  <span>2.2. We receive Personal and Informational data from you via our Service and e-mail, however, in some cases, We may receive this information from other persons. We collect only the information that is necessary to fulfill the goals of our relationship with you. We do not collect information that the applicable law prohibits to collect. We also do not collect information in ways prohibited by such legislation.</span>
  <br>
  <br>
  <span class="title-block">3. TRANSMISSION OF DATA</span>
  <br>
  <span>3.1. We do not provide Personal and Informational data to third parties without the permission of their owner, with the exception of the following cases:
</span>
  <br>
  <div class="wrapper">
    <span>After obtaining the consent of the owner of the Personal Data, to appropriate actions with this data, if such actions and their conditions are not regulated by this Policy;</span>
    <br>
    <span>If necessary, the transfer of such data to fulfill your order or request;</span>
    <br>
    <span>If this is required to comply with existing laws, the fulfillment of requests and requirements of judicial, law enforcement and other state bodies.</span>
    <br>
    <br>
  </div>
  <span>3.2. In the case of mergers, acquisitions, asset sales, Personal and Information data are likely to be among the assets transferred to the new company. If this happens, we will notify you by e-mail or post this notice on our Site 30 days before such changes occur.</span>
  <br>
  <br>
  <span class="title-block">4. STORAGE AND SAFETY OF DATA</span>
  <br>
  <span>4.1. We will take all reasonable precautions to protect Personal Information and data stored on the Site from loss, distortion or unauthorized use. This includes physical, technological and programmatic security measures.</span>
  <br>
  <span>4.2. However, you should understand that there is no way to transfer data via the Internet or store it digitally, which will be 100% secure. Thus, despite all our efforts, We can not guarantee absolute protection of the information received from you. Also, in case of loss or failure to your safety and privacy of your authorization to the Service (login and password), third parties may gain unauthorized access to your personal cabinet, as well as the Personal Information and the data stored in the Service.</span>
  <br>
  <span>4.3. We will retain your Personal Information and data for as long as your account is active, or the time it takes to provide you with the Service, dispute resolution and performance of our mutual agreement.</span>
  <div mat-dialog-close>
    <button class="button" (click)="closeDialogProfile()">{{'OTHER.CLOSE' | translate}}</button>

  </div>
</div>


