<form [formGroup]="addUser" *ngIf="isOwnedDevicesFound">
  <div class="modal modal-settings-add-user modal-add-user">
    <span class="header-modal">{{'USERS.ADD_NEW_USER' | translate}}</span>
    <div class="row-modal">
      <div class="col-left">
        <label class="head-text" for="add-new-user">{{'REGISTRATION.EMAIL' | translate}}*</label>
        <input class="devices input-login" type="text" name="add-new-user" id="add-new-user"
               (change)="checkEmail()"
               placeholder="{{'USERS.ENTER_EMAIL_OF_USER' | translate}}"
               formControlName="email"/>
        <span class="error-text" *ngIf="addUser.value.email">{{'REGISTRATION.INVALID_FORMAT' | translate }}</span>
      </div>
    </div>
    <div class="row-btn-modal">
      <button type="button" class="btn btn-save" (click)="openNextPopup()">
        <span>{{'OTHER.ADDED' | translate}}</span></button>
      <button type="button" class="btn btn-cancel" (click)="closeDialog(null)">
        <span>{{'OTHER.CANCEL' | translate}}</span></button>
    </div>
  </div>
</form>
<div *ngIf="!isOwnedDevicesFound">
  <p class="empty-list">{{'USERS.NO_DEVICES' | translate}}</p>
</div>
