.modal-add-user input {
  width: 360px;
}

.error-text {
  visibility: hidden;
  color: #b94a48;
  position: absolute;
  font-size: 14px;
  line-height: 18px;
}

.empty-list {
  text-align: center;
  padding: 20px;
}

.row-btn-modal .btn.btn-save:hover, .add-device .btn.btn-save:hover {
  background: #fff;
}

input.ng-touched.ng-dirty.ng-invalid ~ .error-text {
  visibility: visible;
}

input.ng-touched.ng-dirty.ng-invalid {
  background-color: #f2dede;
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

@media screen and (max-width: 600px), screen and (max-device-width: 600px) {

  ::ng-deep .mat-dialog-container {
    border-radius: 5px;
  }

  .modal-settings-add-user {
    width: auto;
  }

  .modal-add-user input {
    width: 100%;
  }

  .modal-add-user .row-btn-modal {
    text-align: center;
    left: 20px;
    right: 20px;
  }

  .modal-add-user .row-btn-modal .btn {
    float: none;
    margin: 5px 0;
    display: inline-block;
    width: 100%;
  }

  .modal-add-user .header-modal {
    text-align: center;
  }

  .modal-add-user .row-modal .col-left, .modal-add-user .row-modal .col-right {
    padding: 0;
  }

}
