/*---------------------countdown---------------*/
#countdown_dashboard {
  margin: 0 -7px 18px;
  overflow: hidden;
}

.condition.txt2 {
  text-transform: uppercase;
}

#button-state {
  padding: 5px;
  border: solid 1px #FFF;
  border-radius: 2px;
}

#button-state:hover {
  color: #3fbf8a;
  background: #fff;
}

.bg-counter-style {
  background: #fff;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  padding: 5px;
}

.dash {
  padding: 0 7px;
  width: 25%;
  float: left;
  position: relative;
}

.dash .digit {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  color: #858585;
  position: relative;
}

.dash_title {
  display: block;
  text-align: center;
  color: #858585;
}

.hold-time {
  padding-top: 7px;
  overflow: hidden;
  border: 1px solid #858585;
  text-align: center;
  height: 40px;
}

.btn-devices {
  margin: 32px 0 40px;
  padding: 10px 7px 9px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  background: #6aa3ca;
  border: 2px solid #6aa3ca;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-devices:hover {
  background: transparent;
  color: #6aa3ca;
  cursor: pointer;
}

.btn-devices.add-devices {
  background: #3fbf8a;
  border-color: #3fbf8a;
}

.btn-devices.add-devices:hover {
  background: transparent;
  color: #3fbf8a;
}

.btn-devices.active {
  display: block;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff !important;
}

mat-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 10;
}

/*---------------------countdown---------------*/

.temperature {
  padding-left: 530px;
  width: 100%;
  text-align: center;
}

.temperature .bl-top {
  margin-bottom: 15px;
  overflow: hidden;
}

.temperature .block1 {
  padding: 25px 5px 21px;
  float: left;
  width: 118px;
  background: #6aa3ca;
  color: #fff;
}

.temperature .bl-bottom .block1 {
  background: #508db6;
}

.temperature .block1 .txt1 {
  margin-bottom: 6px;
  font-size: 38px;
  line-height: 44px;
  display: block;
}

.temperature .block1 .txt2 {
  font-size: 13px;
  line-height: 22px;
  display: block;
}

.temperature .block2 {
  padding: 25px 5px 22px;
  float: left;
  width: 118px;
  background: #fff;
  position: relative;
}

.temperature .block2 .txt3 {
  margin-bottom: 1px;
  font-size: 38px;
  line-height: 44px;
  display: block;
  color: #6aa3ca;
}

.temperature .block2 .txt3 .txt3-1 {
  font-size: 28px;
}

.temperature .block2 .txt4 {
  font-size: 13px;
  line-height: 22px;
  display: block;
}

.temperature .block2:after {
  content: "";
  display: block;
  width: 1px;
  height: 92px;
  position: absolute;
  top: 13px;
  right: -1px;
  background: #d1d8d8;
}

.temperature .block3 {
  padding: 30px 5px 0 240px;
  background: #fff;
  height: 118px;
}

.slider-nav {
  display: inline-block;
}

.temperature .block3 .txt5 {
  margin: 0;
  margin-top: -45px;
  display: block;
  position: relative;
  font-size: 13px;
}

.temperature .block3 .txt5 i,
.temperature .block3 .txt5 button {
  padding: 0;
  display: block;
  color: #508db6;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  position: absolute;
  top: -6px;
  left: 10px;
  font-style: normal;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.temperature .block3 .txt5 i.plus,
.temperature .block3 .txt5 button.plus {
  left: auto;
  right: 0;
}

.temperature .block3 .txt5 i:hover,
.temperature .block3 .txt5 button:hover {
  cursor: pointer;
  color: #ae0000;
}

.bl-power {
  margin-right: 15px;
  padding: 0 13px;
  width: 250px;
  min-height: 200px;
  background: #43c992;
  float: left;
  color: #fff;
  text-align: center;
}

.bl-power .head-device {
  margin: 10px 0 11px;
  padding-bottom: 11px;
  font-size: 15px;
  font-weight: 600;
  display: block;
  position: relative;
}

.img-error {
  margin: 0 auto;
  display: block;
}

.offline-error .offline-warning {
  display: none;
}

.bl-power .head-device:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, .5);
  position: absolute;
  bottom: 0;
  left: 0;
}

.bl-power .txt1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
  display: block;
}

.bl-power .txt1 .txt1-1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
}

.bl-power .txt2 {
  margin-bottom: 24px;
  font-size: 13px;
  display: block;
}

.error .bl-power .txt2 {
  margin-bottom: 10px;
  line-height: 18px;
}

.bl-power .row-info-device {
  margin: 0 -13px;
  padding: 16px 5px 20px;
  overflow: hidden;
  background: #3fbf8a;
}

.bl-power .row-info-device .bl-left {
  width: 50%;
  float: left;
  border-right: 1px solid rgba(255, 255, 255, .5);
}

.bl-power .row-info-device .bl-right {
  width: 50%;
  float: right;
}

.bl-power .row-info-device .txt3 {
  display: block;
  font-size: 13px;
}

.bl-power .row-info-device .txt4 {
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.bl-power .row-info-device .txt4 .txt4-1 {
  font-size: 15px;
}

.border-bottom {
  border-bottom: 1px solid #d1d8d8;
}

.condition {
  margin-right: 15px;
  padding: 2px 13px;
  float: left;
  width: 250px;
  min-height: 200px;
  background: #fff;
  text-align: center;
}

.condition .row.border-bottom {
  padding: 13px 0;
}

.condition .txt1 {
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
}

.condition .txt-fix {
  font-size: 14px !important;
}

.condition .txt2 {
  margin-bottom: 8px;
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #44c18e;
  text-transform: uppercase;
}

.condition .txt2.error {
  color: #ae0000;
}

.condition .row-info {
  margin: 0 -13px;
  padding: 18px 5px 20px;
  overflow: hidden;
}

.condition .bl-left {
  width: 100%;
}

.condition .bl-left .txt2 {
  color: darkred;
  text-transform: uppercase !important;
}

.condition .row-info .txt1,
.condition .row-info .txt2 {
  margin-bottom: 0;
  text-transform: none;
}

.row-device.offline {
  opacity: .3;
  position: relative;
}

.row-device.offline-error {
  opacity: 1;
  position: relative;
}

.info-device {
  position: relative;
}

.row-device {
  margin-top: 60px;
  position: relative;
}

.row-device:first-child {
  margin-top: 0;
}

.row-device.offline-error .img-error:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(229, 238, 238, 0.8);
  z-index: -1;
}

.row-device.offline-error .img-error {
  padding-top: 100px;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  color: #000;
}

.row-device.offline-error .img-error img {
  display: block;
  margin: 0 auto 20px;
}

.row-device.offline-error .img-error span {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #4a555d;
}

.row-info-head {
  margin-bottom: 17px;
  color: #fff;
  background-color: #3fbf8a;
}

.offline .row-info-head,
.offline .bl-power .row-info-device,
.offline .temperature .bl-bottom .block1,
.offline .device-int:not(checked) + label:after {
  background-color: #6e8798;
}

.offline .condition .txt2 {
  color: #6e8798;
}

.object-info {
  padding: 11px 15px;
  float: left;
  width: 530px;
  background-color: #43c992;
}

.offline .object-info,
.offline .bl-power,
.offline .temperature .block1 {
  background-color: #869dad;
}

.object-info .object-name {
  font-size: 15px;
  font-weight: 600;
}

::ng-deep .block3 nouislider {
  display: inline-block !important;
  width: 75%;
  vertical-align: middle;
  padding: 0 5px;
}

.row {
  padding: 0 2px;
}

@media screen and (max-width: 1500px) {
  ::ng-deep .block3 nouislider {
    width: 60%;
  }
}

@media screen and (max-width: 1350px) {
  ::ng-deep .block3 nouislider {
    width: 45%;
  }
}

::ng-deep .noUi-horizontal {
  height: 5px;
  border: none;
  background: #d8dede;
  border-collapse: collapse;
}

::ng-deep .noUi-tooltip {
  border: none;
  font-size: 24px;
  line-height: 30px;
  color: #508db6;
}

::ng-deep .noUi-handle {
  top: -7px;
}

::ng-deep .noUi-horizontal ::ng-deep .noUi-handle {
  width: 14px;
  height: 14px;
  left: -7px;
  right: 0;
}

::ng-deep .noUi-handle-lower:focus {
  border: none;
  outline: none;
}

::ng-deep .noUi-handle:after, ::ng-deep .noUi-handle:before {
  width: 0;
  display: none !important;
}

.row-device.offline-error .img-error2 {
  position: relative;
  padding-top: 0;
  width: auto;
  height: auto;
  z-index: 4;
}

.heightSize {
  margin-bottom: 10px;
  line-height: normal;
}

.limits {
  line-height: 37px;
  margin: 0 5px;
}

.settings_link {
  margin: 13px 15px 0 0;
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.settings_link:before {
  content: '';
  display: block;
  width: 22px;
  height: 24px;
  background: url(../../../../img/bg/settings_link_white.png) no-repeat 0 0;
  position: absolute;
  opacity: 1;
  top: -3px;
  left: -29px;
}

.settings_link:hover {
  opacity: 1;
}

.minus, .plus {
  font-size: 24px;
  line-height: 37px;
  font-weight: 600;
  color: #508db6;
  padding: 0;
}

/*---------------media 1260------------------------*/
@media screen and (max-width: 1260px) {

  .temperature .block3 {
    padding: 30px 0 0 237px;
    background: #fff;
    height: 118px;
  }

  .temperature .block3 .txt5 i.plus,
  .temperature .block3 .txt5 button.plus {
    right: 20px;
  }

  .temperature .block3 .txt5 i,
  .temperature .block3 .txt5 button {
    top: -8px;
    left: 20px;
  }

  .bl-power {
    margin-bottom: 15px;
  }

  .temperature {
    overflow: hidden;
    padding-left: 0;
  }

  ::ng-deep .block3 nouislider {
    width: 75%;
  }

  .row-mobile {
    overflow: hidden;
  }

  .row-mobile .w50 {
    padding: 0 0 15px;
    width: 50%;
    float: left;
  }

  .row-mobile .bl-power,
  .row-mobile .condition {
    margin: 0;
    width: 100%;
  }

}
/*---------------media 1260--end------------------------*/

/*---------------media 996-------------------------------*/
@media screen and (max-width: 996px), screen and (max-device-width: 996px), screen and (max-width: 996px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-device-width: 996px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 996px) and (-webkit-min-device-pixel-ratio: 1), screen and (max-device-width: 996px) and (-webkit-min-device-pixel-ratio: 1) {

  .object-info {
    width: 428px;
  }

  .slider.slider-horizontal {
    width: 55%;
  }
}
/*---------------media 996--end-------------------------------*/

/*-----------------media 790-----------------------------------*/
@media screen and (max-width: 790px), screen and (max-device-width: 790px) {

  .temperature .block3 .txt5 {
    margin-top: 0;
  }

  .condition {
    padding: 0 13px;
  }

  .object-info {
    width: calc(100% - 150px);
  }

  .temperature .block1, .temperature .block2 {
    width: 50%;
    padding: 5px 0;
  }

  .temperature .block3 {
    width: 100%;
    clear: both;
    padding: 3em 1em 1em;
    height: auto;
  }

  .condition .row-info {
    padding: 10px 0;
  }

  .bl-power .row-info-device {
    padding: 10px 0;
  }

  .bl-power .txt2 {
    margin-bottom: 19px;
  }

  .temperature .block1 .txt1, .temperature .block1 .txt2, .temperature .block2 .txt3, .temperature .block2 .txt4 {
    float: right;
  }

  .temperature .block1 .txt1, .temperature .block2 .txt3 {
    margin-right: calc((100% - 140px) / 2);
  }

  .temperature .block1 .txt2, .temperature .block2 .txt4 {
    margin-right: 1em;
    padding: 14px 0;
  }

  .temperature .block1, .temperature .block2 {
    border-bottom: 1px solid rgb(229, 238, 238);
  }

}
/*-----------------media 790--end-----------------------------------*/
/*-----------------media 600----------------------------------------*/
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {

  ::ng-deep .block3 nouislider {
    width: 75%;
  }

  .object-info {
    width: 100%;
  }

  .settings_link {
    float: left;
    margin: 0;
    padding: 13px 15px;
    margin-left: 22px;
  }

  .settings_link:before {
    left: -10px;
    top: 10px;
  }

  .row-border-popup {
    margin: 24px -16px;
  }

  /* ----------device-style-2 media 600*/
  .device-type-2 .w50 {
    width: 100%;
  }

}
/*-----------------media 600--end-----------------------------------*/
/*-----------------media 480----------------------------------------*/
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {

  ::ng-deep .block3 nouislider {
    width: 62%;
  }

  .object-info {
    width: 100%
  }

  .object-info .object-name {
    width: 100%;
    display: block;
    padding-bottom: 11px;
  }

  .row-mobile .w50 {
    float: none;
    width: 100%;
  }

  .bl-power .txt2 {
    margin-bottom: 1em;
  }

  .bl-power .row-info-device {
    padding: 5px;
  }

  .row-mobile .condition {
    margin: 1em 0;
  }

  .condition > .row.border-bottom, .condition > .row.row-info {
    padding: 5px 0;
  }

  .temperature .block1 .txt1, .temperature .block1 .txt2, .temperature .block2 .txt3, .temperature .block2 .txt4 {
    float: none;
  }

  .temperature .block1 .txt1, .temperature .block2 .txt3 {
    margin: 0;
  }

  .temperature .block1 .txt2, .temperature .block2 .txt4 {
    margin: 0;
    padding: 0;
  }

  .temperature .block1, .temperature .block2 {
    height: 80px;
  }

  .object-info .hold-on_off {
    float: right;
  }

  /* ----------------------------device-style--media-480---------------------------2*/
  .device-type-2 .w50 {
    padding: 0;
  }

}
/*-----------------media 480---end---------------------------------*/

