input.ng-touched.ng-dirty.ng-invalid {
  border: solid #b94a48 1px;
  background-color: #f2dede;
}

input.ng-touched.ng-dirty.ng-invalid ~ .error-text {
  visibility: visible;
}
.error-text {
  visibility: hidden;
  color: #b94a48;
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.error {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}


.error-text-visible {
  visibility: visible;
}
.row-log-input .devices {
  margin-bottom: 0;
}
#restore_password .error {
  float: right;
  width: 400px;
}

.row-sabmit {
  margin: 0 -5px;
  overflow: hidden;
  margin-top: 25px;
}

.registration-log .devices {
  margin-bottom: 0;
}

.submit-support {
  margin-top: 30px;
  text-align: center;
  padding: 0;
}

.head-text {
  margin-bottom: 5px;
  margin-top: 20px;
}

.d-table-100 {
  width: 100vw;
  height: 100vh;
  display: table;
}

.d-table-100 .d-table-row {
  display: table-cell;
  vertical-align: middle;
}

.d-table-100 .d-table-row .hold-login {
  margin: 0 auto;
  width: 500px;
  background: #fff;
}

.info-log {
  padding: 30px;
  display: block;
}

.row-log-input {
  overflow: hidden;
}

.top-label {
  margin-top: 0;
}

.hold-btn {
  width: 200px;
  margin: auto;
}

/*-----------------media 600----------------------------------------*/
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {

  .d-table-100 .d-table-row .hold-login {
    width: 460px;
  }
}

/*-----------------media 600---end-------------------------------------*/
/*-----------------media 480-------------------------------------------*/
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {

  .d-table-100 .d-table-row .hold-login {
    width: 100%;
  }

}

/*-----------------media 480---end-------------------------------------*/
