<div class="d-table-100">
  <div class="d-table-row">
    <div class="hold-login">
      <div id="restore_password" class="info-log">
        <div class="row-log-input">
          <form *ngIf="block" [formGroup]="newPasswordForm">
            <label class="head-text" for="new-pass">{{'REGISTRATION.NEW_PASS' | translate}}</label>
            <input class="devices" type="password" id="new-pass" value="" #refrence
                   placeholder="{{'REGISTRATION.ENTER_PASSWORD' | translate}}" formControlName="newPassword"/>
            <span class="error-text"
                  *ngIf="newPassword.hasError('minlength')">{{'REGISTRATION.SHORT_PASS' | translate}}</span>
            <span class="error-text"
                  *ngIf="newPasswordForm.value.newPassword && newPassword.hasError('pattern') && !newPassword.hasError('minlength')">{{'REGISTRATION.INVALID_FORMAT' | translate}}</span>
            <label class="head-text" for="confirm-pass">{{'REGISTRATION.CONFIRM_PASSWORD' | translate}}</label>
            <input class="devices" type="password" id="confirm-pass" value=""
                   placeholder="{{'REGISTRATION.CONFIRM_PASSWORD' | translate}}"
                   formControlName="confirmNewPassword"/>
            <span class="error-text" *ngIf="newPasswordForm.controls.confirmNewPassword.status === 'INVALID'">{{'REGISTRATION.ERROR_PASS' | translate}}</span>
              <div class="hold-btn">
                <input type="submit" class="btn submit-support" value="{{'REGISTRATION.SEND' | translate}}"
                       (click)="sendPasswordToChange()">
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

